.last-products{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    justify-content: space-evenly;
}

.product-info {
    background: #6666661a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: black;
    flex: 1 1 calc(25% - 16px);
    text-decoration: none;
}
    